* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/**************************
**********HEADER***********
**************************/

/* Header top */
.header__top {
    padding: 30px 0;
}

.header__top__left__questions {
    margin-right: 10px;
}

.header__top__right__gift {
    margin-right: 60px;
}

.header__top__right__gift__icon,
.header__top__right__loyalty__icon {
    margin-right: 15px;
}

/* Header middle */
.header__middle {
    padding: 40px 0;
}

.header__middle__left__logo {
    margin-right: 100px;
}

.header__middle__left__search__bar,
.header__middle__left__search__button {
    border: 0;
    height: 40px;
}

.header__middle__left__search__bar {
    width: 285px;
    margin-right: -7px;
    border-radius: 5px 0 0 5px;
    padding-left: 20px;
    font-weight: 600;
}

.header__middle__left__search__button {
    border-radius: 0 5px 5px 0;
    background: #EC1F46;
    padding: 10px 25px;
    font-size: 16px;
}

.header__middle__right__cart {
    margin-right: 50px;
}

.header__middle__right__cart__icon {
    font-size: 20px;
}

.header__middle__right__cart__red {
    display: inline-block;
    position: relative;
    top: -17px;
    left: -13px;
    background: #EC1F46;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
}

.header__middle__right__profile__pic {
    margin-right: 20px;
    border-radius: 50%;
}

.header__middle__right__profile__name__text {
    margin-right: 20px;
}

/* Header nav */

.header__nav__list {
    text-transform: uppercase;
    font-weight: 700;
    padding: 33px 0;
}

/**********************************
***********MAIN CONTENT************
**********************************/

/* Hotel info top */

.hotel__top {
    padding: 15px 0;
}

.hotel__top__breadcrumb {
    margin-bottom: 45px;
}

/* Hotel info main */

.hotel__top__main__title__stars {
    margin-bottom: 5px;
    color: #F2994A;
}

.hotel__top__main__title__stars__icon {
    margin-right: 3px;
}

.hotel__top__main__title__name__heading {
    margin-right: 15px;
    text-transform: uppercase;
}

.hotel__top__main__title__name__offer {
    font-size: 10px;
}

.hotel__top__main__rating__button {
    text-align: center;
}

.hotel__top__main__rating__button__top,
.hotel__top__main__rating__button__bottom__max {
    font-size: 10px;
}

/* Hotel info boxes */

.hotel__bottom__image {
    flex-grow: 2;
}

.hotel__bottom__image img {
    width: 100%;
    height: auto;
}

.hotel__bottom__infobox {
    flex-grow: 1;
}

.hotel__bottom__infobox__booking,
.hotel__bottom__infobox__map {
    height: 50%;
    width: 100%;
}

.hotel__bottom__infobox__map img {
    width: 100%;
}

.hotel__bottom__infobox__booking {
    padding: 28px;
    border-radius: 10px;
}

.hotel__bottom__infobox__booking__top {
    flex-grow: 1;
}

.hotel__bottom__infobox__booking__top__left__price {
    margin-bottom: -5px;
}

.hotel__bottom__infobox__booking__top__right {
    width: 80px;
}

.hotel__bottom__infobox__booking__top__right__guests {
    margin-bottom: 10px;
}

.hotel__bottom__infobox__booking__top__right__guests span,
.hotel__bottom__infobox__booking__top__right__rooms span {
    margin-left: auto;
}

.hotel__bottom__infobox__booking__phone {
    margin-bottom: 20px;
}

.hotel__bottom__infobox__booking__phone__num {
    margin-left: auto;
}

.hotel__bottom__infobox__booking__phone__num__icon {
    margin-right: 6px;
}

.hotel__bottom__infobox__booking__button {
    padding: 10px 0;
}

/* PACKAGE INFO */
.hotel__package {
    padding: 50px 0;
}

.hotel__package__nav {
    margin-bottom: 30px;
}

.hotel__package__title {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.hotel__package__nav__list__item {
    padding: 10px;
}

.hotel__package__nav__list__item:first-child {
    border-bottom: 3px solid #EC1F46; 
}

/* PACKAGE SUMMARY */

.hotel__package__summary {
    flex-wrap: wrap;
}

.hotel__package__summary__highlights,
.hotel__package__summary__offer {
    flex-grow: 1;
    flex-basis: calc(50% - 15px);
}

.hotel__package__summary__details {
    width: 100%;
}

.hotel__package__summary i {
    margin-right: 20px;
    font-size: 18px;
}

.hotel__package__summary__highlights__content,
.hotel__package__summary__offer__content,
.hotel__package__summary__details__content {
    padding: 20px 0;
}

.summary-item:not(:last-child)  {
    margin-bottom: 20px;
}

.summary-item span {
    transform: translateY(8%);
}

.hotel__package__summary__offer__content__right .summary-item {
    position: relative;
    top: 4px;
}

.summary-item__text::before {
    content: url('../images/circle-check-full.png');
    margin-right: 20px;
    vertical-align: middle;
}

.summary-item__calendar::before {
    content: url('../images/calendar.png');
    margin-right: 20px;
    vertical-align: middle;
}

.summary-item__note {
    margin-left: 42px;
}

.summary-item__text span {
    display: block;
    margin-left: 42px;
}

.hotel__package__summary__details__content {
    padding: 30px 43px;
}

.hotel__package__summary__details__content__list {
    width: 223px;
}

.hotel__package__summary__details__content__top {
    border-bottom: 1px dashed #E0E0E0;
    padding-bottom: 30px;
}

.hotel__package__summary__details__content__bottom {
    padding-top: 30px;
}

.hotel__package__summary__details__content__list__title {
    margin-bottom: 18px;
}


/********************************
**********OTHER PACKAGES*********
********************************/

.other {
    padding: 50px 0;
}

.other__title {
    margin-bottom: 40px;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

.other__packages {
    flex-wrap: wrap;
}

.other__packages__box {
    flex-basis: calc(100% / 3 * 2 - 10px);
    height: 500px;
    border-radius: 10px;
}

.other__packages__box__image,
.other__packages__box__info {
    width: 50%;
}

.other__packages__box__image {
    overflow: hidden;
}

.other__packages__box__image img {
    width: 100%;
    height: auto;
}

.other__packages__box__info {
    padding: 40px 20px 20px 40px;
    position: relative;
    border-radius: 0 10px 10px 0;
}

.other__packages__box__info__rating {
    color: #F2994A;
    margin-bottom: 5px;
}

.other__packages__box__info__rating__star {
    margin-right: 2px;
}

.other__packages__box__info__name {
    margin-bottom: 30px;
}

.other__packages__box__info__description {
    margin-bottom: 50px;
    font-weight: 300;
    line-height: 25px;
}

.other__packages__box__info__location {
    font-weight: 300;
    margin-bottom: 50px;
}

.other__packages__box__info__location li:not(:last-child) {
    margin-bottom: 10px;
}

.other__packages__box__info__location__address::before {
    content: url('../images/marker-pin.png');
}

.other__packages__box__info__location__guests::before {
    content: url('../images/user-icon-small.png');
}

.other__packages__box__info__location__rooms::before {
    content: url('../images/home-icon-small.png');
}

.other__packages__box__info__location__address::before,
.other__packages__box__info__location__guests::before,
.other__packages__box__info__location__rooms::before {
    vertical-align: middle;
    margin-right: 10px;
}


.other__packages__box__info__price__original {
    text-decoration: line-through;
}

.other__packages__box__info__price__discounted {
    font-weight: 700;
}

.other__packages__box__info__book {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.other__packages__box--small {
    flex-basis: calc(100% / 3 - 20px);
    height: 500px;
    border-radius: 10px;
}

.other__packages__box--small .other__packages__box__image,
.other__packages__box--small .other__packages__box__info {
    height: 250px;
    width: 100%;
}

.other__packages__box .other__packages__box__image {
    position: relative;
}

.other__packages__box .other__packages__box__image span {
    position: absolute;
    top: 30px;
    left: 0;
    border-radius: 0 5px 5px 0;
    background: #EC1F46;
    padding: 10px 20px 10px 10px;
}

.other__packages__box--small .other__packages__box__image {
    position: relative;
}

.other__packages__box--small .other__packages__box__image span {
    position: absolute;
    top: 30px;
    left: 0;
    border-radius: 0 5px 5px 0;
    background: #EC1F46;
    padding: 5px 10px;
}

.other__packages__box--small .other__packages__box__info {
    border-radius: 0 0 10px 10px;
    padding: 30px 15px 15px 30px;
}

.other__packages__box--small .other__packages__box__info .other__packages__box__info__name,
.other__packages__box--small .other__packages__box__info .other__packages__box__info__location {
    margin-bottom: 25px;
}

/*********************************
**************REVIEWS*************
*********************************/

.reviews {
    text-align: center;
    padding: 50px 0 80px;
}

.reviews__main-title {
    margin-bottom: 125px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.reviews__box {
    background-image: url('../images/quotation-marks-background.png');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 10px;
    margin: 0 auto;
    padding: 50px 100px 30px;
    width: 730px;
    position: relative;
}

.reviews__box__icon {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
}

.reviews__box__name {
    margin-bottom: 10px;
}

.reviews__box__date {
    margin-bottom: 4px;
    font-size: 10px;
}

.reviews__box__rating {
    margin-bottom: 35px;
    color: #F2994A;
}

.reviews__box__rating__star:not(:last-child) {
    margin-right: 2px;
}

.reviews__box__body {
    text-align: justify;
    line-height: 18px;
}

.reviews__box__left-arrow,
.reviews__box__right-arrow {
    font-size: 20px;
    position: absolute;
    top: 100px;
}

.reviews__box__left-arrow {
    left: -170px;
}

.reviews__box__right-arrow {
    right: -170px;
}

/************************************
**************NEWSLETTER*************
************************************/

.newsletter {
    height: 260px;
    background-image: url('../images/panoramic-img-newsletter.png');
    position: relative;
}

.newsletter::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 34, 61, 0.8);
}

.newsletter__content {
    margin: 0 auto;
    width: 730px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newsletter__content__subscribe h4 {
    font-weight: 300;
}

.newsletter__content__subscribe h3 {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}

.newsletter__content__form {
    width: 50%;
    height: 55px;
}

.newsletter__content__form__input,
.newsletter__content__form__button {
    height: 100%;
}

.newsletter__content__form__input {
    width: 80%;
    margin-right: -20px;
    padding-left: 30px;
    color: #BDBDBD;
    border: none;
    border-radius: 8px 0 0 8px;
}

.newsletter__content__form__button {
    width: 20%;
    border: none;
    border-radius: 0 8px 8px 0;
}

/******************************************
**************OTHER ACTIVITIES*************
******************************************/
.activities {
    padding: 65px 0 100px;
}

.activities__title {
    margin-bottom: 65px;
    text-transform: uppercase;
}

.activities__items__box {
    padding: 150px 30px 30px 20px;
    flex-basis: 25%;
    height: 255px;
    background-repeat: no-repeat;
    background-size: cover;
}

.activities__items__box.box1 {
    background-image: url('../images/other-activity-1.png');
}

.activities__items__box.box2 {
    background-image: url('../images/other-activity-2.png');
}

.activities__items__box.box3 {
    background-image: url('../images/other-activity-3.png');
}

.activities__items__box.box4 {
    background-image: url('../images/other-activity-4.png');
}

.activities__items__box__title {
    margin-bottom: 20px;
}

.activities__items__box__button {
    padding: 7px 20px;
}

/********************************
**************FOOTER*************
********************************/

.footer {
    padding: 110px 0 40px;
}

.footer__top {
    margin-bottom: 100px;
}

.footer__top__logo,
.footer__top__list {
    flex-basis: 25%;
}

.footer__top__logo {
    font-size: 40px;
}

.footer__top__list__title {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__top__list__title--social {
    margin-top: 25px;
}

.footer__top__list__title--social h3 {
    margin-right: 30px;
    text-transform: uppercase;
}

.footer__top__list__title--social .social-link {
    padding-top: 5px;
}

.footer__top__list__title--social .social-link:not(:last-child) {
    margin-right: 10px;
}

.footer__top__list__item {
    line-height: 22px;
    color: #BDBDBD;
}

.footer__bottom {
    align-items: flex-start;
    margin-bottom: 100px;
}

.footer__bottom__contact,
.footer__bottom__form {
    flex-basis: 50%;
}

.footer__bottom__contact__title,
.footer__bottom__form__title {
    margin-bottom: 25px;
    text-transform: uppercase;
}

.footer__bottom i {
    font-size: 20px;
    margin-right: 30px;
}

.footer__bottom__contact__text,
.footer__bottom__contact__address,
.footer__bottom__contact__phone {
    margin-bottom: 30px;
}

.footer__bottom__message__form {
    flex-wrap: wrap;
    position: relative;
}

.footer__bottom__message__form__name,
.footer__bottom__message__form__phone {
    flex-basis: calc(50% - 15px);
    height: 50px;
}

.footer__bottom__message__form__body {
    flex-basis: 100%;
    height: 123px;
    padding-top: 20px;
}

.footer__bottom__message__form__name,
.footer__bottom__message__form__phone,
.footer__bottom__message__form__body {
    border-radius: 5px;
    padding-left: 30px;
}

.footer__bottom__message__form__submit {
    padding: 15px 60px;
}

.footer__bottom__message__form__required {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.footer__conditions__empty,
.footer__conditions__list,
.footer__conditions__credit-cards {
    flex-basis: calc(100% / 3);
}

.footer__conditions__list,
.footer__conditions__list__item,
.footer__conditions__credit-cards {
    display: inline-block;
}

.footer__conditions__list {
    text-align: center;
}

.footer__conditions__list__item:not(:last-child) {
    margin-right: 20px;
}

.footer__conditions__credit-cards {
    text-align: right;
}