* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/**************************
**********HEADER***********
**************************/

/* Header top */
.header__top {
    padding: 30px 0;
}

.header__top__left__questions {
    margin-right: 10px;
}

.header__top__right__gift {
    margin-right: 60px;
}

.header__top__right__gift__icon,
.header__top__right__loyalty__icon {
    margin-right: 15px;
}

/* Header middle */
.header__middle {
    padding: 40px 0;
}

.header__middle__left__logo {
    margin-right: 100px;
}

.header__middle__left__logo__text {
    font-size: 24px;
}

.header__middle__left__search__bar,
.header__middle__left__search__button {
    border: 0;
    height: 40px;
}

.header__middle__left__search__bar {
    width: 285px;
    margin-right: -7px;
    border-radius: 5px 0 0 5px;
    padding-left: 20px;
    font-weight: 600;
}

.header__middle__left__search__button {
    border-radius: 0 5px 5px 0;
    background: #EC1F46;
    padding: 10px 25px;
    font-size: 16px;
}

.header__middle__right__cart {
    margin-right: 50px;
}

.header__middle__right__cart__icon {
    font-size: 20px;
}

.header__middle__right__cart__icon::after{
    content: '2';
    font-size: 12px;
    font-weight: 300;
    background: red;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 3px 6px;
    position: relative;
    left: -8px;
    top: -10px;
    opacity: 0.9;
}

.header__middle__right__profile__pic {
    margin-right: 20px;
    border-radius: 50%;
}

.header__middle__right__profile__name__text {
    margin-right: 20px;
    font-size: 14px;
}

/* Header nav */

.header__nav__list {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 33px 0;
}

/**********************************
***********MAIN CONTENT************
**********************************/

/* Hotel info top */

.hotel__top {
    padding: 15px 0;
}

.hotel__top__breadcrumb {
    margin-bottom: 45px;
}

/* Hotel info main */

.hotel__top__main__title__stars {
    margin-bottom: 5px;
    font-size: 8px;
    color: #F2994A;
}

.hotel__top__main__title__stars__icon {
    margin-right: 3px;
}

.hotel__top__main__title__name__heading {
    margin-right: 15px;
    text-transform: uppercase;
}

.hotel__top__main__title__name__offer {
    font-size: 10px;
}

.hotel__top__main__title__package {
    font-size: 12px;
}

.hotel__top__main__rating__button {
    text-align: center;
}

.hotel__top__main__rating__button__top,
.hotel__top__main__rating__button__bottom__max {
    font-size: 10px;
}

.hotel__top__main__rating__button__bottom {
    font-size: 14px;
}

/* Hotel info boxes */

.hotel__bottom__image {
    flex-grow: 2;
}

.hotel__bottom__image img {
    width: 100%;
    height: auto;
}

.hotel__bottom__infobox {
    flex-grow: 1;
}

.hotel__bottom__infobox__booking,
.hotel__bottom__infobox__map {
    height: 50%;
    width: 100%;
}

.hotel__bottom__infobox__map img {
    width: 100%;
}

.hotel__bottom__infobox__booking {
    padding: 28px;
    border-radius: 10px;
}

.hotel__bottom__infobox__booking__top {
    flex-grow: 1;
}

.hotel__bottom__infobox__booking__top__left__price {
    font-size: 24px;
    margin-bottom: -5px;
}

.hotel__bottom__infobox__booking__top__right {
    width: 80px;
}

.hotel__bottom__infobox__booking__top__right__guests {
    margin-bottom: 10px;
}

.hotel__bottom__infobox__booking__top__right__guests span,
.hotel__bottom__infobox__booking__top__right__rooms span {
    margin-left: auto;
}

.hotel__bottom__infobox__booking__phone {
    margin-bottom: 20px;
    font-size: 18px;
}

.hotel__bottom__infobox__booking__phone__num {
    margin-left: auto;
}

.hotel__bottom__infobox__booking__button {
    padding: 10px 0;
}

/* PACKAGE INFO */
.hotel__package {
    padding: 50px 0;
}

.hotel__package__nav {
    margin-bottom: 30px;
}

.hotel__package__title {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hotel__package__nav__list__item {
    padding: 10px;
}

.hotel__package__nav__list__item:first-child {
    border-bottom: 3px solid #EC1F46; 
}

/* PACKAGE SUMMARY */

.hotel__package__summary {
    flex-wrap: wrap;
}

.hotel__package__summary__highlights,
.hotel__package__summary__offer {
    flex-grow: 1;
    flex-basis: calc(50% - 15px);
}

.hotel__package__summary__details {
    width: 100%;
}

.hotel__package__summary i {
    margin-right: 20px;
    font-size: 18px;
}

.hotel__package__summary__highlights__content,
.hotel__package__summary__offer__content,
.hotel__package__summary__details__content {
    padding: 20px 0;
}

.summary-item:not(:last-child)  {
    margin-bottom: 20px;
}

.summary-item span {
    transform: translateY(8%);
}

.summary-item-note {
    margin-left: 38px;
}

.hotel__package__summary__details__content {
    padding: 30px 43px;
}

.hotel__package__summary__details__content__list {
    width: 223px;
}

.hotel__package__summary__details__content__top {
    border-bottom: 1px dashed #E0E0E0;
    padding-bottom: 30px;
}

.hotel__package__summary__details__content__bottom {
    padding-top: 30px;
}

.hotel__package__summary__details__content__list__title {
    margin-bottom: 18px;
}


/********************************
**********OTHER PACKAGES*********
********************************/

.other {
    padding: 50px 0;
}

.other__title {
    margin-bottom: 40px;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

.other__packages {
    flex-wrap: wrap;
}

.other__packages__box {
    flex-basis: calc(100% / 3 * 2 - 10px);
    height: 500px;
    border-radius: 10px;
}

.other__packages__box__image,
.other__packages__box__info {
    width: 50%;
}

.other__packages__box__image {
    overflow: hidden;
}

.other__packages__box__image img {
    width: 100%;
    height: auto;
}

.other__packages__box__info {
    padding: 40px 20px 20px 40px;
    position: relative;
    border-radius: 0 10px 10px 0;
}

.other__packages__box__info__rating {
    color: #F2994A;
    font-size: 8px;
    margin-bottom: 5px;
}

.other__packages__box__info__name {
    margin-bottom: 30px;
    font-size: 18px;
}

.other__packages__box__info__description {
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}

.other__packages__box__info__location {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 50px;
}

.other__packages__box__info__location li:not(:last-child) {
    margin-bottom: 10px;
}

.other__packages__box__info__location li i {
    margin-right: 10px;
}

.other__packages__box__info__price__original {
    font-size: 14px;
    text-decoration: line-through;
}

.other__packages__box__info__price__discounted {
    font-size: 24px;
    font-weight: 700;
}

.other__packages__box__info__book {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.other__packages__box--small {
    flex-basis: calc(100% / 3 - 20px);
    height: 500px;
    border-radius: 10px;
}

.other__packages__box--small .other__packages__box__image,
.other__packages__box--small .other__packages__box__info {
    height: 250px;
    width: 100%;
}

.other__packages__box--small .other__packages__box__info {
    border-radius: 0 0 10px 10px;
    padding: 30px 15px 15px 30px;
}

.other__packages__box--small .other__packages__box__info .other__packages__box__info__name,
.other__packages__box--small .other__packages__box__info .other__packages__box__info__location {
    margin-bottom: 25px;
}