/* Utilities */
.u-containerLarge {
    width: 1197px;
    margin: 0 auto;
}

.u-fontSmall {
    font-size: 10px;
}

.u-fontMidSmall {
    font-size: 12px;
}

.u-fontBold {
    font-weight: 700;
}

.u-textWhite {
    color: #FFFFFF;
}

.u-textGrey {
    color: #333333
}

.u-textBlue {
    color: #0A223D;
}

.u-textRed {
    color: #EC1F46;
}

.u-mainFont {
    font-family: 'Mulish', sans-serif;
}

.u-logoFont {
    font-family: 'Luckiest Guy', cursive;
}

.u-displayBlock {
    display: block;
}

.u-bkgLightGrey {
    background: #F5FAFE;
}

.u-bkgWhite {
    background: #FFFFFF;
}

.u-bkgBlue {
    background: #0A223D;
}

.u-btn {
    background: #EC1F46;
    border-radius: 5px;
    text-align: center;
}

.u-btnSmall {
    padding: 5px 10px;
    font-size: 12px;
}

.u-btnBig {
    padding: 10px 20px;
    font-size: 14px;
}

.u-flex {
    display: flex;
}

.u-flexCol {
    flex-direction: column;
}

.u-flexAlignItemsCenter {
    align-items: center;
}

.u-flexJustifyBetween {
    justify-content: space-between;
}

.u-flexJustifyAround {
    justify-content: space-around;
}

.u-gap30 {
    gap: 30px
}

.u-marginLeftAuto {
    margin-left: auto;
}

.u-tableTopBar {
    border-radius: 5px 5px 0 0;
    padding: 15px 15px;
}

.u-tableContentArea {
    border-radius: 0 0 5px 5px;
}