/* Utilities */
.u-container-large {
    width: 1197px;
    margin: 0 auto;
}

.u-font-mini {
    font-size: 8px;
}

.u-font-small {
    font-size: 10px;
}

.u-font-mid-small {
    font-size: 12px;
}

.u-font-mid {
    font-size: 14px;
}

.u-font-mid-large {
    font-size: 18px;
}

.u-font-24 {
    font-size: 24px;
}

.u-font-bold {
    font-weight: 700;
}

.u-text-white {
    color: #FFFFFF;
}

.u-text-grey {
    color: #333333
}

.u-text-light-grey {
    color: #BDBDBD;
}

.u-text-blue {
    color: #0A223D;
}

.u-text-red {
    color: #EC1F46;
}

.u-main-font {
    font-family: 'Mulish', sans-serif;
}

.u-logo-font {
    font-family: 'Luckiest Guy', cursive;
}

.u-display-block {
    display: block;
}

.u-bkg-light-grey {
    background: #F5FAFE;
}

.u-bkg-white {
    background: #FFFFFF;
}

.u-bkg-blue {
    background: #0A223D;
}

.u-btn {
    background: #EC1F46;
    border-radius: 5px;
    text-align: center;
}

.u-btn-small {
    padding: 5px 10px;
    font-size: 12px;
}

.u-btn-big {
    padding: 10px 20px;
    font-size: 14px;
}

.u-cursor-pointer {
    cursor: pointer;
}

.u-flex {
    display: flex;
}

.u-flex-col {
    flex-direction: column;
}

.u-flex-align-items-center {
    align-items: center;
}

.u-flex-justify-between {
    justify-content: space-between;
}

.u-flex-justify-around {
    justify-content: space-around;
}

.u-gap-30 {
    gap: 30px
}

.u-margin-left-auto {
    margin-left: auto;
}

.u-table-top-bar {
    border-radius: 5px 5px 0 0;
    padding: 15px 15px;
}

.u-table-content-area {
    border-radius: 0 0 5px 5px;
}